/* This is styling for component such as buttons, modals, etc */
.modal-auth{
    width: 365px;
    padding: 30px;
    border-radius: 10px;
    background: white;
    box-shadow: 1px -1px 3px 0px #00000033, 
                -1px 2px 3px 0px rgba(0, 0, 0, 0.2);
    font-family: 'Raleway';
}

#welcome{
    margin: 2rem 1rem; 
    /* font-family: 'Lato'; */
}

.container-form{
    font-size: 14px;
    padding-top: 0px;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}

.footer-form {
    font-size: 0.85rem;
}

.input{
    width: 100%; 
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    padding: 0.7rem 1rem; 
    border: 1px solid #ccc; 
    border-radius: 0.3rem;
}

.lab {
    text-align: left;
    color: rgb(99,99,99);
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 0.3rem;
}

a:-webkit-any-link{
    color: rgb(0, 192, 236);
    text-decoration: none;
    font-style: black;
}

.button-auth {
    width: 100%; 
    padding: 0.9rem 0.9rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    border-color: rgb(0, 192, 236);
    font-family: 'Raleway';
    font-size: 13px;
    background: rgb(0, 192, 236);
    color:white;
}

.button-browse {
    width: 49%; 
    padding: 0.6rem 0.6rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border-radius: 5px;
    border-color: rgb(181,181,181);
    background: rgb(181,181,181);
    color:white;
}

.input-js {
    width: 49%;
}

.file-uploader {
    display: none;
}

.wrong-message{
    color: rgb(228,1,2);
    margin-bottom: 0.1rem;
    margin-top: 0rem;
    /* font-family: Lato; */
    font-weight: 600;
    text-align: left;
    font-size: 12px;
}
.input.wrong{
    margin-bottom: 0.2rem;
}

::placeholder{
    color:rgb(173,173,173);
    font-family: 'Raleway';
}

/* home.html */
.home-page-wrapper {
    font-family: 'Raleway', sans-serif;
    display: flex;
    min-height: 100vh;
}

.side-section-left {
    background-color: rgb(99,99,99);
    width: 10vw;
    margin-left: -15px;
    margin-top: -15px;
    margin-bottom: -15px;
}

.side-section-right {
    background-color: rgb(99,99,99);
    width: 10vw;
    margin-right: -15px;
    margin-top: -15px;
    margin-bottom: -15px;
}


.main-section {
    width: 80vw;
    padding-left: 6.5vw;
    display: block;
}

.section-welcome #username {
    color: rgb(0, 192, 236);
}

.tagline {
    margin-top: 2.25rem;
}

.section-movies {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.section-welcome {
    height: 100px;
}

.section-welcome h3 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: -0.25rem;
}

.section-welcome h4 {
    font-size: 1.25rem;
    font-weight: 600;
}

.line-break {
    width: 100%;
  }

.home-page-movie {
    max-width: 140px;
    height: 100%;
    display: block;
    margin-right: 1.75rem;
    padding-top: 0.75rem;
}

.home-page-movie .review {
    margin-top: -0.5rem;
    display: flex;
}

.review p {
    margin-left: 0.5rem;
    margin-top: 0.125rem;
    color: rgb(181,181,181);
}

.home-page-movie p {
    font-weight: 700;
    font-size: 0.85rem;
}

.home-page-movie .movie-design {
    height: 219.24px;
    width: 149.15px;
    border-radius: 10px;
}

.star-icon {
    height: 1.25rem;
    width: 1.25rem;
}