/* Style for login page */
.wrapper {
    display: flex;
    height: 100vh;
    min-height: 500px;
    background-color: white;
}

.center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

p {
    font-family: 'Raleway';
}

<<<<<<< HEAD
body {
	margin: 0;
	background-color: black;
=======
body{
	margin: 0;
>>>>>>> 3ad0b15844bb7d6815e7bc620a187e2f226dc17f
}
