/* This is styling for component such as buttons, modals, etc */
.modal-auth{
    width: 365px;
    padding: 30px;
    border-radius: 10px;
    background: white;
    box-shadow: 1px -1px 3px 0px #00000033, 
                -1px 2px 3px 0px rgba(0, 0, 0, 0.2);
    font-family: 'Raleway';
}

#welcome{
    margin: 2rem 1rem; 
    /* font-family: 'Lato'; */
}

.container-form{
    font-size: 14px;
    padding-top: 0px;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}

.footer-form {
    font-size: 0.85rem;
    
}

.input{
    width: 100%; 
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    padding: 0.7rem 1rem; 
    border: 1px solid #ccc; 
    border-radius: 0.3rem;
    
}

.lab {
    text-align: left;
    color: rgb(99,99,99);
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 0.3rem;
}

a:-webkit-any-link{
    color: rgb(0, 192, 236);
    text-decoration: none;
    font-style: black;
}

.button{
    width: 100%; 
    padding: 0.9rem 0.9rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    border-color: rgb(0, 192, 236);
    font-family: 'Raleway';
    font-size: 13px;
    background: rgb(0, 192, 236);
    color:white;
}

.browse {
    width: 49%; 
    padding: 0.6rem 0.6rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border-radius: 5px;
    border-color: rgb(181,181,181);
    background: rgb(181,181,181);
    color:white;
}

.js {
    width: 49%;
}
.wrong-message{
    color: rgb(228,1,2);
    margin-bottom: 0.1rem;
    margin-top: 0rem;
    /* font-family: Lato; */
    font-weight: 600;
    text-align: left;
    font-size: 12px;
}
.input.wrong{
    margin-bottom: 0.2rem;
}

::placeholder{
    color:rgb(173,173,173);
    font-family: 'Raleway';
}